


.card {
  background-color: lightgrey;
  width: 75px;
  border: 10px solid red;
  padding: 0px 0px 0px 0px;
  margin: 5px 5px 0px 0px;
  float: left;
  text-align: center;
  font-size: 5em;
}

.dealer {
  width: 665px;
  border: 10px;
  padding: 15px 0px 15px 0px;
  margin: auto;
  text-align: center;
}

.dealer-position {
  width: 600px;
  border: 10px;
  padding: 15px 0px 15px 0px;
  margin: 5px 5px 5px 5px;
  float: auto;
  text-align: center;
}

.player {
  width: 1330px;
  border: 10px;
  padding: 15px 0px 15px 0px;
  margin: 5px 5px 0px 0px;
  float: left;
  text-align: center;
}

.position {
  width: 600px;
  border: 10px;
  padding: 15px 0px 15px 0px;
  margin: 5px 5px 5px 5px;
  float: left;
  text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
}

.button:disabled {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
  opacity: 0.6;
}

body {
  background-image: url("newtable3to2_2.png");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}


